@using OnlineTeachingSystem.ViewModels
@model ExamViewModel
@{ViewBag.Title = @Model.Name;}

<div class="row exam">
    <div class="col-sm-12 col-md-8 blog-main">
        <div class="exam-header">
            <h1 class="exam-title">@Model.Name</h1>
            <p class="exam-description"></p>
            <hr />
        </div>
        <form name="examForm" action="/Exam/CheckAnswer" method="post">
            @for (int i = 0; i < @Model.QuestionNum; ++i)
            {
                <dl>
                    <dt>@(i+1). @Model.QuestionList[i].Problem</dt>
                    <dd><img class="center-block" src="@Model.QuestionList[i].ImgSrc" /></dd>
                    @if (Model.QuestionList[i].ProblemProperty == 0)
                    {
                        <dd class="radio-inline">
                            <label>
                                <input type="radio" name="examInfo[@i].userAnswer" id="P_A_@i" value="A">
                                Yes
                            </label>
                        </dd>
                        <dd class="radio-inline">
                            <label>
                                <input type="radio" name="examInfo[@i].userAnswer" id="P_B_@i" value="B">
                                No
                            </label>
                        </dd>
                    }
                    else
                    {
                        <dd class="radio">
                            <label>
                                <input type="radio" name="examInfo[@i].userAnswer" id="P_A_@i" value="A" >
                                @Model.QuestionList[i].First
                            </label>
                        </dd>
                        <dd class="radio">
                            <label>
                                <input type="radio" name="examInfo[@i].userAnswer" id="P_B_@i" value="B" >
                                @Model.QuestionList[i].Second
                            </label>
                        </dd>
                        <dd class="radio">
                            <label>
                                <input type="radio" name="examInfo[@i].userAnswer" id="P_C_@i" value="C" >
                                @Model.QuestionList[i].Third
                            </label>
                        </dd>
                        <dd class="radio">
                            <label>
                                <input type="radio" name="examInfo[@i].userAnswer" id="P_D_@i" value="D" >
                                @Model.QuestionList[i].Fourth
                            </label>
                        </dd>
                    }
                </dl>
            }
            @if (@Model.ExamScore >= 0)
            {
                <div id="ots-alert" class="alert add-exam-alert alert-info">你的分数为: @(Model.ExamScore + (Model.ExamScore == 65535 ? -65535 : 1)) 分</div>
            }
            else
            { 
                <input type="text" name="examName" id="examName" style="display: none;"/>
                <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                <button class="btn btn-lg btn-warning" type="reset">Reset</button>
                <script>
                    var t = $('.exam-title')[0];
                    $('#examName')[0].value = t.innerHTML;
                </script>
            }
            
        </form>
    </div>
</div>