@using OnlineTeachingSystem.ViewModels
@model BaseViewModel
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/ots.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("/Scripts/ots.js")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @{
        Html.RenderPartial("NavStatus", Model.NavStatusData);
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                @{
                    Html.RenderPartial("SideBar", Model.SideBarData);
                }
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        addLoadEvent(showSideBarActive());
        addLoadEvent(addLoginAttr());
        addLoadEvent(showLogin());
    </script>
</body>
</html>
