<!--
    Dwayne 2015-11-24 00:34:01
-->
@using OnlineTeachingSystem.ViewModels
@model NavStatusViewModel

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Online Teaching System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-li-left"><a id="nav-left" href="@Model.LeftLink">@Model.LeftText</a></li>
                <li><a href="@Model.RightLink">@Model.RightText</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form class="" action="/User/TryLogin" method="post" id="loginForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log in</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="loginEmail" id="loginEmailLabel">Email Address</label>
                        <input type="email" class="form-control" id="loginEmail" placeholder="Email" required="" autofocus="" name="Mail">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="loginPassword">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" required="" name="Password">
                    </div>
                    <div id="login-alert" class="alert alert-@Model.AlertType" style="display:none"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>@Model.Message</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit" onclick="return checkLogin();">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>